@use '../00-setup' as *;

.content-rows-evens {
	h2.header {
		font-size: var(--title1);
		margin-bottom: 2rem;
	}
	.content-row {
		@include bigger-than('large') {
			display: flex;

			> div {
				width: 50%;
				padding-right: 4rem;

				&.content-left {
					font-weight: 600;
				}
			}
		}

		&:not(:last-of-type) {
			margin-bottom: 1.5rem;
		}
	}
	.block-content > ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
