@use '../00-setup' as *;

.top-head {
	@include bigger-than('large') {
		max-width: var(--content-w);
	}
}

.post-cards-w-pagination {

	h2.header {
		font-size: var(--title1);
		margin-bottom: 2rem;

		@include bigger-than('large') {

		}

		/*@include bigger-than('medium') {
			margin-bottom: 3rem;
		}

		@include bigger-than('large') {
			margin-bottom: 4rem;
		}*/
	}

	.intro {
		font-size: var(--copyLarger);
		margin-bottom: 2.5rem;

		p:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	.post-cards {
		padding-bottom: 4rem;
		border-bottom: 1px solid $ui-gray;
		margin-bottom: 1.5rem;
		@include bigger-than('medium') {
			display: inline-grid;
			grid-template-columns: repeat(2, 416px);
			width: 100%;
			gap: 1.5rem;
			padding-bottom: 5rem;
		}
		@include bigger-than('large') {
			// grid-template-columns: 1fr 1fr 1fr;
		}
		@include bigger-than('xl') {
			grid-template-columns: repeat(3, 416px);
			// gap: 4rem;
		}

		.card {

			position: relative;
			display: flex;
			flex-direction: column;

			&.in-the-media {
				border: 1px solid $ui-gray;
				border-radius: 0.5rem;

				.eyebrow {
					margin-bottom: 0.675rem;
				}

				.card-content-frame {
					border: none;
				}
			}

			&-image-frame {
				// position: relative;
				// height: 0;
				// padding-bottom: 100%;
				// max-width: 416px;
				// width: 100%;
				height: 416px;
				width: 416px;
				display: block;
				img {
					// position: absolute;
					border-radius: 0.5rem 0.5rem 0 0;
					// top: 0; left: 0; right: 0; bottom: 0;
					// width: auto; height: auto;
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			.card-content {
				padding-top: 1.5rem;
				padding-right: 1.5rem;
			}

			&-content-frame {
				border: 1px solid $ui-gray;
				border-top: none;
				border-radius: 0 0 0.5rem 0.5rem;
				padding: 1.75rem 1.5rem 2.25rem;
				flex-grow: 1;

				a {
					text-decoration: none;
					color: $black;
				}

				.person-role {
					font-weight: 600;
					color: $dark-gray;
					margin-bottom: 1rem;
				}

				.person-brief {
					color: $dark-gray;
					margin-bottom: 1rem;
				}

				.person-links {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					a {
						display: inline-block;
						border-bottom: 1px solid $ui-gray;
						line-height: 1;

						&:not(:last-child) {
							margin-bottom: 0.75rem;
						}
					}
				}
			}

			svg {
				position: absolute;
				bottom: 1rem;
				right: 1rem;
			}
		}
	}
}

.post-cards-pagination {

	display: flex;
	justify-content: center;
	width: 100%;

	.page-numbers {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 2.75rem;
		height: 2.75rem;
		text-align: center;
		font-size: 0.875rem;
		text-decoration: none;
		color: $dark-gray;

		&.current {
			border: 2px solid $black;
			color: $black;
		}
	}

	.prev, .next 	{	display: none;	}
}
