@use '../00-setup' as *;

.post-carousel {

	.block-content {

		> .header {
			font-size: var(--title1);
			margin-bottom: 2rem;
		}

		> .intro {
			font-size: var(--copyLarge);
			margin-bottom: 2rem;

			@include bigger-than('large') {
				margin-bottom: 3rem;
			}

			@include bigger-than('xl') {
				margin-bottom: 4rem;
			}

			p, ul {
				&:last-of-type {
					margin-bottom: 1.75rem;

					@include bigger-than('large') {
						// margin-bottom: 2.75rem;
					}

					@include bigger-than('xl') {
						margin-bottom: 2.75rem;
					}
				}
			}
		}
	}

	.carousel-slider {
		max-width: calc(100vw - #{var(--rails)});
		margin-right: calc(-1 * ( #{var(--rails)} / 2));
		overflow: hidden;
		// white-space: nowrap;
		padding-bottom: 2rem;
		@include bigger-than('medium') {
			margin-right: calc(-1 * ( #{var(--rails)} + 3.5rem ));
		}
	}

	.carousel-rack {
		display: inline-grid;
		grid-auto-rows: 1fr;
		grid-template-columns: repeat(10, 1fr);
		width: auto;
		transition: margin 0.35s linear; // ease-in-out;
	}

	[data-carousel-curr="2"] .carousel-rack {
		margin-left: calc( -1 * ( 270px + 1.5rem ) ); }
	[data-carousel-curr="3"] .carousel-rack {
		margin-left: calc( -2 * ( 270px + 1.5rem ) ); }
	[data-carousel-curr="4"] .carousel-rack {
		margin-left: calc( -3 * ( 270px + 1.5rem ) ); }
	[data-carousel-curr="5"] .carousel-rack {
		margin-left: calc( -4 * ( 270px + 1.5rem ) ); }
	[data-carousel-curr="6"] .carousel-rack {
		margin-left: calc( -5 * ( 270px + 1.5rem ) ); }
	[data-carousel-curr="7"] .carousel-rack {
		margin-left: calc( -6 * ( 270px + 1.5rem ) ); }
	[data-carousel-curr="8"] .carousel-rack {
		margin-left: calc( -7 * ( 270px + 1.5rem ) ); }
	[data-carousel-curr="9"] .carousel-rack {
		margin-left: calc( -8 * ( 270px + 1.5rem ) ); }
	[data-carousel-curr="10"] .carousel-rack {
		margin-left: calc( -9 * ( 270px + 1.5rem ) ); }

	@include bigger-than('medium') {
		[data-carousel-curr="2"] .carousel-rack {
			margin-left: calc( -1 * ( 374px + 1.5rem ) ); }
		[data-carousel-curr="3"] .carousel-rack {
			margin-left: calc( -2 * ( 374px + 1.5rem ) ); }
		[data-carousel-curr="4"] .carousel-rack {
			margin-left: calc( -3 * ( 374px + 1.5rem ) ); }
		[data-carousel-curr="5"] .carousel-rack {
			margin-left: calc( -4 * ( 374px + 1.5rem ) ); }
		[data-carousel-curr="6"] .carousel-rack {
			margin-left: calc( -5 * ( 374px + 1.5rem ) ); }
		[data-carousel-curr="7"] .carousel-rack {
			margin-left: calc( -6 * ( 374px + 1.5rem ) ); }
		[data-carousel-curr="8"] .carousel-rack {
			margin-left: calc( -7 * ( 374px + 1.5rem ) ); }
		[data-carousel-curr="9"] .carousel-rack {
			margin-left: calc( -8 * ( 374px + 1.5rem ) ); }
		[data-carousel-curr="10"] .carousel-rack {
			margin-left: calc( -9 * ( 374px + 1.5rem ) ); }
	}

	&.people {
		
		[data-carousel-curr="2"] .carousel-rack {
			margin-left: calc( -1 * ( 270px + 1.5rem ) ); }
		[data-carousel-curr="3"] .carousel-rack {
			margin-left: calc( -2 * ( 270px + 1.5rem ) ); }
		[data-carousel-curr="4"] .carousel-rack {
			margin-left: calc( -3 * ( 270px + 1.5rem ) ); }
		[data-carousel-curr="5"] .carousel-rack {
			margin-left: calc( -4 * ( 270px + 1.5rem ) ); }
		[data-carousel-curr="6"] .carousel-rack {
			margin-left: calc( -5 * ( 270px + 1.5rem ) ); }
		[data-carousel-curr="7"] .carousel-rack {
			margin-left: calc( -6 * ( 270px + 1.5rem ) ); }
		[data-carousel-curr="8"] .carousel-rack {
			margin-left: calc( -7 * ( 270px + 1.5rem ) ); }
		[data-carousel-curr="9"] .carousel-rack {
			margin-left: calc( -8 * ( 270px + 1.5rem ) ); }
		[data-carousel-curr="10"] .carousel-rack {
			margin-left: calc( -9 * ( 270px + 1.5rem ) ); }

		@include bigger-than('medium') {
			[data-carousel-curr="2"] .carousel-rack {
				margin-left: calc( -1 * ( 304px + 1.5rem ) ); }
			[data-carousel-curr="3"] .carousel-rack {
				margin-left: calc( -2 * ( 304px + 1.5rem ) ); }
			[data-carousel-curr="4"] .carousel-rack {
				margin-left: calc( -3 * ( 304px + 1.5rem ) ); }
			[data-carousel-curr="5"] .carousel-rack {
				margin-left: calc( -4 * ( 304px + 1.5rem ) ); }
			[data-carousel-curr="6"] .carousel-rack {
				margin-left: calc( -5 * ( 304px + 1.5rem ) ); }
			[data-carousel-curr="7"] .carousel-rack {
				margin-left: calc( -6 * ( 304px + 1.5rem ) ); }
			[data-carousel-curr="8"] .carousel-rack {
				margin-left: calc( -7 * ( 304px + 1.5rem ) ); }
			[data-carousel-curr="9"] .carousel-rack {
				margin-left: calc( -8 * ( 304px + 1.5rem ) ); }
			[data-carousel-curr="10"] .carousel-rack {
				margin-left: calc( -9 * ( 304px + 1.5rem ) ); }
		}
	}

	.carousel-controls {
		display: flex;
		button {
			border: 1px solid $black;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&:first-child {
				margin-right: 2rem;
				svg {
					transform: rotate(180deg);
				}
			}
		}
		svg {
			path {
				stroke: $black;
			}
		}
	}

	.card {
		width: 270px;
		height: 100%;
		padding: 0;
		margin-right: 1.5rem;
		display: flex;
		flex-direction: column;
		// border-radius: 0.5rem;
		// box-shadow: 0 0 1px 1px rgba(100,100,100,0.1);

		@include bigger-than('medium') {
			width: 374px;
		}

		img {
			overflow: hidden;
			display: block;
			border-radius: 0.5rem 0.5rem 0 0;
			margin-bottom: 0;
			object-fit: cover;
		}

		&-frame {
			border: 1px solid $ui-gray;
			border-top: none;
			padding: 1.5rem 1.25rem;
			border-radius: 0 0 0.5rem 0.5rem;
			flex-grow: 1;

			p {
				@include bigger-than('medium') {
					padding-right: 2rem;
				}
			}
		}

		.card-cta-label, .card-cta-label > span 	{	display: none; }

		.card-cta-label {
			@include bigger-than('medium') {
				display: flex;
				width: auto; // 100%;
				position: absolute; // relative;

				bottom: 1rem;
				left: 1rem;
				right: 1rem;
				justify-content: flex-end;
			}
		}

		&.person-simple {
			@include bigger-than('medium') {
				width: 304px;
			}

			.card-image {
				width: 270px;
				height: 270px;
				display: block;
				overflow: hidden;
				border-radius: 0.5rem;
				margin-bottom: 2rem;

				@include bigger-than('medium') {
					width: 304px;
					height: 304px;
				}
			}
			.card-frame {
				padding: 0;
				border: none;

				> .header {
					margin-bottom: 0.25rem;
				}
			}
			.card-cta-label,
			.card-content			 	{	display: none; }
		}

		&:after { display: none; }
	}
}
