@use '../00-setup' as *;

$menu-flip: 1380px;

body.mobile-menu-open {
	overflow: hidden;
}

.site-header {

	height: var(--headH);
	position: relative;
	z-index: 3;
	@include smaller-than($menu-flip) {
		//border-bottom: 1px solid $ui-gray;
	}

	.site-logo {
		position: relative;
		z-index: 3;
		svg {
			@include smaller-than(420px) {
				max-width: 200px;
			}
		}
	}

	&__contain {
		display: flex;
		width: 100%;
		align-items: center;
		height: inherit;
		padding: 0 1.5rem;
		justify-content: space-between;
	}

	.menu-utility {

		@include smaller-than($menu-flip) {
			position: absolute;
			top: calc(50% - 1.5rem);
			right: .755rem;
			display: inline-flex;
			z-index: 2;
		}
	}


		&__search {

			&-sleeve {
				position: absolute;
				top: var(--headH);
				right: 0;
				left: auto;
				overflow: hidden;
				width: 0;
				height: 60px;
				transition: all $trans-out;
				display: none;
				justify-content: flex-end;

				form.input-row {
					width: 318px; // 100%; // calc(100% - 4.5rem);
				}
			}


			background: $white; // $ui-gray;
			padding: 0 1.5rem 0.75rem; //  var(--rails);
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			width: 366px; // calc(100% - 1.5rem);
			flex-wrap: none;
			// background: red;
			// position: absolute;
			// top: var(--headH);
			// right: -100vw;
			// transition: right $trans-out;
			// border-left: 1px solid $ui-gray;
			// border-bottom: 1px solid $ui-gray;

			box-shadow: -1px 1px 0px 0 $ui-gray;

			// @include bigger-than('medium') {
				// width: auto;
				// right: -366px;
				border-radius: 0 0 0 1rem;
			// }

			input[type="search"],
			input[type="submit"] {
				height: 44px;
				border: 1px solid $black;
				padding: 0 1rem;
				margin: 0;
				line-height: 1;

				&:not(:last-child) {
					margin-right: 0.75rem;
				}

				&[type="submit"] {
					padding: 0 1.5rem;
					// background: $black;
					// color: $white;

					// &:hover {
					// 	background: $bright-purple;
					// }
				}

				&[type="search"] {
					border-radius: 0 0 0 0.5rem;
					width: 203px;
				}
			}

			input[type="hidden"] {
				display: none;
			}
		}

		&.search-open {

			.site-header__search {
				// right: 0;
				// transition: right $trans-in;

				&-sleeve {
					display: flex;
					width: 366px; // calc(100% - 1.5rem);

					// height: 50px;
					transition: all $trans-in;
				}
			}
			.menu-search {

				svg {
					display: none;
				}

				span {
					display: block;
					width: 1.5rem;
					height: 2px;
					background: $black;
					position: absolute;
					top: calc(50% - 1px);
					right: calc(50% - 0.75rem);
					transition: transform $trans-in;

					&:nth-child(2) {
						transform: rotate(45deg);
					}
					&:nth-child(3) {
						transform: rotate(-45deg);
					}
				}
			}
		}

		.site-branding {
			position: relative;
			// z-index: 3;
			svg path {
				// fill: $black;

			}

			svg {
				@include smaller-than('small') {
					max-width: 216px;
				}
			}
		}

		.menu-search {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			cursor: pointer;

			span {
				transition: transform $trans-out;
			}
		}

	.main-navigation {
		height: 100%;
	}

	.mobile-menu {
		display: block;
		width: 48px;
		height: 48px;
		position: relative;
		cursor: pointer;

		span {
			height: 2px;
			width: 24px;
			background: $black;
			display: block;
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 12px);

			transition: all $trans-in;

			&:nth-child(1) {
				top: 1rem;
			}

			&:nth-child(2) {
				transform: rotate(-45deg);
				left: 50%;
				width: 0;
			}

			&:nth-child(3) {
			}

			&:nth-child(4) {
				transform: rotate(45deg);
				left: 50%;
				width: 0;
			}

			&:nth-child(5) {
				top: unset;
				bottom: 1rem;
			}
		}

		body.mobile-menu-open & {
			span {
				&:nth-child(1),
				&:nth-child(3),
				&:nth-child(5) {
					width: 0;
					left: 50%;
				}
				&:nth-child(2),
				&:nth-child(4) {
					left: calc(50% - 12px);
					width: 24px;
				}
			}
		}
	}

	@include bigger-than($menu-flip) {
		.mobile-menu {
			display: none;
		}
	}

	.site-navigation {

		@include smaller-than($menu-flip) {

			overflow: hidden;
			position: absolute;
			z-index: 1;
			top: 0; left: 0; right: 0;
			height: var(--headH);
			padding-top: var(--headH);
			display: none;
			// background: yellow;
			//		transition: height 0.25s ease-out; // $trans-out;

			&.sub-open {
				> ul {
					margin-left: -100vw;
				}
				> ul > li > ul {
					left: 0;
				}
			}

			.mobile-menu-open & {

				bottom: 0; height: 100vh; width: 100vw;
				z-index: 2;
				background: $white;
				display: block;
			}

			&[data-active-sub-menu="0"] .menu > li:nth-child(1) .sub-menu { display: block; }
			&[data-active-sub-menu="1"] .menu > li:nth-child(2) .sub-menu { display: block; }
			&[data-active-sub-menu="2"] .menu > li:nth-child(3) .sub-menu { display: block; }
			&[data-active-sub-menu="3"] .menu > li:nth-child(4) .sub-menu { display: block; }
			&[data-active-sub-menu="4"] .menu > li:nth-child(5) .sub-menu { display: block; }
			&[data-active-sub-menu="5"] .menu > li:nth-child(6) .sub-menu { display: block; }
			&[data-active-sub-menu="6"] .menu > li:nth-child(7) .sub-menu { display: block; }
			&[data-active-sub-menu="7"] .menu > li:nth-child(8) .sub-menu { display: block; }
			&[data-active-sub-menu="8"] .menu > li:nth-child(9) .sub-menu { display: block; }
		}

			.menu-search {
				cursor: pointer;
			}
	}

	nav {

		@include bigger-than($menu-flip) {
			display: inline-flex;
			align-items: center;
			height: 100%;
		}

		@include smaller-than($menu-flip) {
			position: relative;

			&:after {
				display: block;
				content: "";
				width: 25px;
				border-right: 1px solid $ui-gray;
				background: $white;
				height: calc(100% - #{var(--headH)});
				position: absolute;
				top: var(--headH);
				left: 0;

				@include bigger-than('medium') {
					width: 57px;
				}
			}
		}
		position: relative;

		ul {
			list-style: none;
			display: flex;
			font-weight: 600;

			@include smaller-than($menu-flip) {
				// 	display: none;
				//   position: absolute;
				//   top: 100%;
				//   left: 0;
				//   right: 0;
				//   width: 100%;
				flex-direction: column;
				//   z-index: 2;
				// background: $white;

				max-width: 100%;
				padding-left: calc(#{var(--rails)} / 2);

				&.menu {
				// 	transition: margin $trans-out;
					padding-top: 3rem;
				}
			}

			@include bigger-than($menu-flip) {
				&.menu {
					height: 100%;
				}
			}
		}
		li {

			//
			@include bigger-than($menu-flip) {
				position: relative;
			}

			&.current-page-ancestor,
			&.current-menu-item {

				@include smaller-than($menu-flip) {
					background: $light-gray;

					> a,
					> button {
						position: relative;

						&:before {
							display: block;
							content: "";
							position: absolute;
							top: 0;
							bottom: 0;
							left: 1px;
							width: 2px;
							background: $bright-purple;
							z-index: 4;
						}
					}
				}
			}
		}
		#menu-primary-nav > li { // li:not(:last-of-type) {
			@include bigger-than($menu-flip) {
				margin-right: 2rem;

				padding-right: 1rem;
				position: relative;

				&:after {
					display: block;
					content: "";
					width: 0.375rem;
					height: 0.375rem;
					border: 1px solid $black;
					border-top: none;
					border-left: none;
					transform: rotate(45deg);
					top: calc(50% - 5px);
					right: 0;
					position: absolute;
				}
			}
		}
		li a,
		li button,
		li button.icon-link.arrow-west {
			color: $black;
			text-decoration: none;
			display: flex;
			align-items: center;

			@include bigger-than($menu-flip) {
				height: 26px;
				margin-top: 31px;

				&:focus:focus {
					// outline-offset: -8px;
				}
			}

			@include smaller-than($menu-flip) {

				display: block;
				position: relative;
				padding: 0.75rem calc(#{var(--rails)} / 2) 0.75rem calc(( #{var(--rails)} / 2 ));
				line-height: 1.5;
				width: 100%;

				@include bigger-than('medium') {
					padding: 0.75rem calc(#{var(--rails)} / 2) 0.75rem calc(( #{var(--rails)} / 2 ) - 1rem);
				}

			}
		}
		li button.icon-link.arrow-west {
			@include smaller-than($menu-flip) {
				text-align: left;
				padding-left: calc(( #{var(--rails)} / 2 ) + 1.5rem);
				&:after {
					left: 1.25rem; // 0.875rem;
				}
				@include bigger-than('medium') {
					padding-left: calc(( #{var(--rails)} / 2 ) + 0.75rem);
					&:after {
						left: calc(( #{var(--rails)} / 2 ) - 1.25rem); // 0.875rem;
					}
				}
			}
			@include bigger-than($menu-flip) {
				display: none;
			}
		}

		#menu-primary-nav > li > a,
		#menu-primary-nav > li > button {

			@include bigger-than($menu-flip) {
				padding: 0;
			}
			@include smaller-than($menu-flip) {
				text-align: left;
				&:after {
					display: block;
					content: "";
					position: absolute;
					width: 16px;
					height: 16px;
					border: 2px solid $black;
					border-bottom: none;
					border-left: none;
					transform: rotate(45deg);
					right: calc(#{var(--rails)} / 2);
					top: calc(50% - 0.45rem);
				}
			}
		}

		.sub-menu {
			// display: none;
			position: absolute;
			display: none;


			@include smaller-than($menu-flip) {
				width: 100vw;
				top: var(--headH); left: 100vw;
				// padding-left: 0;
				// transition: left $trans-out;
			}

			@include bigger-than($menu-flip) {
				top: calc( #{var(--headH)} - 0.75rem);
				left: -1.5rem;
				// right: -1.5rem; // 100%;
				// padding: 0 1.5rem;
				margin: 0;
				width: 200px;
				background: $white;
				padding-left: 0;
				padding-bottom: 1rem;

				li {
					display: block;
					background: $white;

					a {
						display: block;
						padding: 0.25rem 0.3rem;
						margin: 0.5rem 1.2rem;
						height: auto;
						margin-top: 0;
					}
				}
			}
		}

		.menu-item-has-children {
			.sub-menu-open + .sub-menu {
				@include bigger-than($menu-flip) {
					display: block;
				}
			}
		}
	}
}
